/********** Sane Defaults **********/
img {
    border: 0 none;
}
a {
    color: #666699;
    text-decoration: none;
}
/********** Body **********/
html {overflow-y: scroll;}
body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin: 8px;
}

div#content {
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
}

/********** Header **********/
div#header {
    background-color:#e8e8e8;
    margin:0;
    padding:0;
    border: solid #444444;
}
div#header h1 {
    font-family: Verdana, monospace;
    font-size: 20pt;
    letter-spacing:0.1em;
    padding: 0.25em;
    text-decoration:none;
}
div#header a{
    text-decoration: none;
}

#blog_name {
    color:black;
}


/********** Main Block **********/
div#prose_block {
    float: left;
    margin:0;
    padding:0 0 20px 20px;
    width:680px;
}
div#prose_block h2 {
    font-size:18px;
    font-weight:normal;
    margin:50px 0 0;
    padding:0;
    text-decoration:none;
}
div#prose_block h2.intrablog {
    color:#000000;
    margin-bottom: 20px;
}
span.post_prose {
    font-size:13px;
    line-height:1.6em;
}
.blog_post small {
    font-family:Arial,Helvetica,Sans-Serif;
    font-size:11px;
}
div.blog_post {
    margin: 0;
    padding: 0;
}
.post_prose pre {
    background:#F1F1FF none repeat scroll 0 0;
    border:1px dashed #BBBBBB;
    color:#000000;
    font-size:0.85em;
    overflow:auto;
    padding:5px;
    clear:none;
    float:none;
    line-height:1.333;
    margin:0;
    overflow:visible;
    width:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}
h2.blog_post_title a:hover {
    background:transparent none repeat scroll 0 0;
    color:#6EB9E0;
}
h2.blog_post_title a {
    color:#0090DA;
    font-size:18px;
    font-weight:normal;
    margin:50px 0 0;
    padding:0;
    text-decoration:none;
}
div.blog_post small a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
.post_prose a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
.post_prose a {
    color:#0B76AE;
    text-decoration:none;
}
div.after_post {
    margin-top: 50px;
    text-align: center;
    font-size: 75%;
}
div.after_post a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
hr.interblog {
    background-color: #eeeeee;
    border:0 none;
    color:#555555;
    height:1px;
    width:90%;
}

/********** Sidebar **********/
div#right_sidebar {
    float: right;
    width:270px;
    font-size: 11px;
    line-height: 1.5em;
    margin: 0;
    padding: 0 10px;
    border-left: 1px solid #eeeeee;
}
#right_sidebar div {
    margin: 20px 0;
    padding: 0;
}
#right_sidebar h3 {
    background:transparent url(/site_img/dot.gif) repeat-x scroll center bottom;
    color:#174B65;
    font-size:11px;
    font-weight:normal;
    letter-spacing:0.2em;
    margin:0;
    padding:0;
    text-transform:uppercase;
}
#right_sidebar h3 small {
    text-transform:none;
    letter-spacing:0.0em;
}
#right_sidebar a {
    color:#0B76AE;
    text-decoration: none;
}
#right_sidebar a:hover {
    background:transparent url(/site_img/dot.gif) repeat-x scroll center bottom;
    color:#0B76AE;
}
#right_sidebar ul, #right_sidebar ol {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:5px;
}
ul#twitter_update_list li {
    margin-bottom:1em;
}
div#commits li {
    margin-bottom:1em;
}
div#commits {
    font-family:Arial,serif;
    font-size:90%;
}
div#commitsRSS span.timeref {
    font-size: 90%;
}
/********** Footer **********/
div#footer {
    clear: both;
}
#credits {
    font-size:11px;
}